* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    max-width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
}

.post-enter {
    opacity: 0;
    transform: scale(0.9);
}

.post-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 500ms;
}

.post-exit {
    opacity: 1;
    transform: scale(1);
}

.post-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: all 500ms;
}

.page__wrapper {
    display: flex;
    margin-top: 30px;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page__current {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
    background-color: teal;
    color: white;
}

.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: teal;
}

.navbar__links {
    margin-left: auto;
}
